.macbookAir1Child {
  position: absolute;
  top: 36px;
  left: 152px;
  width: 92px;
  height: 92px;
  object-fit: cover;
}
.dianeCooper,
.div,
.div1,
.female {
  position: absolute;
  top: 138px;
  left: 129px;
  font-size: var(--font-size-4xl);
  line-height: 140%;
}
.div,
.div1,
.female {
  top: 199px;
  left: 138px;
  font-size: var(--font-size-3xl);
}
.div1,
.female {
  left: 245px;
}
.female {
  top: 90px;
  left: 377px;
  font-size: var(--font-size-lg);
}
.activeMember,
.cilacap,
.div2,
.div3,
.feb24th1997,
.feb24th19971,
.jlDiponegoroNo {
  position: absolute;
  top: 177px;
  left: 377px;
  font-size: var(--font-size-lg);
  line-height: 140%;
}
.activeMember,
.cilacap,
.div2,
.div3,
.feb24th1997,
.feb24th19971 {
  left: 974px;
}
.cilacap,
.div2,
.div3,
.feb24th1997,
.feb24th19971 {
  top: 81px;
}
.cilacap,
.div2,
.div3,
.feb24th19971 {
  top: 177px;
  left: 563px;
}
.div2,
.div3,
.feb24th19971 {
  top: 90px;
}
.div2,
.div3 {
  left: 750px;
}
.div3 {
  top: 178px;
}
.dianecooperexamplecom,
.gender,
.past,
.upcoming {
  position: absolute;
  top: 172px;
  left: 127px;
  line-height: 140%;
  color: var(--color-dimgray);
}
.gender,
.past,
.upcoming {
  top: 223px;
  left: 137px;
  text-align: center;
}
.gender,
.upcoming {
  left: 227px;
}
.gender {
  top: 67px;
  left: 377px;
}
.birthday,
.city,
.memberStatus,
.phoneNumber,
.registeredDate,
.streetAddress,
.zipCode {
  position: absolute;
  top: 154px;
  left: 377px;
  line-height: 140%;
  color: var(--color-dimgray);
}
.birthday,
.city,
.memberStatus,
.phoneNumber,
.registeredDate,
.zipCode {
  left: 974px;
}
.birthday,
.city,
.phoneNumber,
.registeredDate,
.zipCode {
  top: 58px;
}
.birthday,
.city,
.phoneNumber,
.zipCode {
  top: 154px;
  left: 563px;
}
.birthday,
.phoneNumber,
.zipCode {
  top: 67px;
}
.phoneNumber,
.zipCode {
  left: 750px;
}
.zipCode {
  top: 155px;
}
.macbookAir1Item {
  position: absolute;
  top: 203px;
  left: 201.5px;
  width: 1px;
  height: 34px;
  opacity: 0.5;
}
.macbookAir1Child1,
.macbookAir1Child2,
.macbookAir1Inner,
.vectorIcon {
  position: absolute;
  top: 124.5px;
  left: 377px;
  width: 133px;
  height: 1px;
  opacity: 0.2;
}
.macbookAir1Child1,
.macbookAir1Child2,
.vectorIcon {
  top: 214.5px;
}
.macbookAir1Child1,
.macbookAir1Child2 {
  top: 124.5px;
  left: 563px;
}
.macbookAir1Child2 {
  top: 214.5px;
}
.macbookAir1Child3,
.macbookAir1Child4,
.macbookAir1Child5,
.macbookAir1Child6 {
  position: absolute;
  top: 124.5px;
  left: 750px;
  width: 133px;
  height: 1px;
  opacity: 0.2;
}
.macbookAir1Child4,
.macbookAir1Child5,
.macbookAir1Child6 {
  left: 974px;
}
.macbookAir1Child5,
.macbookAir1Child6 {
  top: 214.5px;
  left: 750px;
}
.macbookAir1Child6 {
  left: 974px;
}
.sendMessage {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.sendMessageWrapper,
.upcomingAppointmentsWrapper {
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.sendMessageWrapper {
  position: absolute;
  top: 280px;
  left: 104px;
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 225px;
  padding: var(--padding-sm) var(--padding-xl);
  font-size: var(--font-size-lg);
  font-family: var(--font-source-serif-4);
}
.upcomingAppointmentsWrapper {
  background-color: var(--color-white);
  padding: var(--padding-sm) var(--padding-lg);
  text-align: left;
  color: var(--color-cornflowerblue);
}
.pastAppointments {
  position: relative;
  line-height: 140%;
}
.pastAppointmentsWrapper {
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent,
.rectangleDiv {
  position: absolute;
  left: 364px;
  background-color: var(--color-whitesmoke-200);
}
.frameParent {
  top: 263px;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
  text-align: center;
  color: var(--color-dimgray);
  font-family: var(--font-source-serif-4);
}
.rectangleDiv {
  top: 323px;
  border-radius: var(--br-sm);
  width: 766px;
  height: 297px;
}
.rootCanalTreatment {
  position: absolute;
  top: 345px;
  left: 392px;
  line-height: 140%;
}
.macbookAir1Child7,
.showPreviousTreatmentsWrapper {
  position: absolute;
  background-color: var(--color-white);
}
.showPreviousTreatmentsWrapper {
  top: 337px;
  left: 926px;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-dimgray);
}
.macbookAir1Child7 {
  top: 404px;
  left: 389px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  width: 714px;
  height: 86px;
}
.div4,
.nov19,
.openAccess {
  position: absolute;
  line-height: 140%;
  display: inline-block;
}
.div4 {
  top: 454px;
  left: 413.33px;
  color: var(--color-dimgray);
  width: 74.04px;
}
.nov19,
.openAccess {
  top: 417px;
  left: 412px;
  font-size: var(--font-size-4xl);
  width: 146px;
}
.openAccess {
  top: 444px;
  left: 607.96px;
  font-size: var(--font-size-xl);
  width: 100.49px;
}
.drgAdamH {
  top: 445px;
  left: 807.88px;
  font-size: var(--font-size-lg);
  width: 96.26px;
}
.dentist,
.drgAdamH,
.jessicamila,
.note,
.nurse,
.treatment {
  position: absolute;
  line-height: 140%;
  display: inline-block;
}
.jessicamila {
  top: 445px;
  left: 922.12px;
  font-size: var(--font-size-lg);
  width: 80.39px;
}
.dentist,
.note,
.nurse,
.treatment {
  top: 427px;
  left: 607.96px;
  color: var(--color-dimgray);
  width: 64.52px;
}
.dentist,
.note,
.nurse {
  left: 807.88px;
  width: 44.43px;
}
.note,
.nurse {
  left: 922.12px;
  width: 37.02px;
}
.note {
  top: 441px;
  left: 1052.23px;
  color: var(--color-royalblue);
  width: 29.62px;
}
.macbookAir1Child8,
.macbookAir1Child9 {
  position: absolute;
  top: 430px;
  left: 557.75px;
  width: 1px;
  height: 34px;
  opacity: 0.5;
}
.macbookAir1Child9 {
  left: 766.13px;
}
.note2Icon {
  position: absolute;
  top: 441px;
  left: 1028.96px;
  width: 19.04px;
  height: 18px;
  overflow: hidden;
}
.macbookAir1Child10 {
  position: absolute;
  top: 505px;
  left: 389px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  width: 714px;
  height: 86px;
}
.div5,
.nov191,
.rootCanal {
  position: absolute;
  line-height: 140%;
  display: inline-block;
}
.div5 {
  top: 555px;
  left: 413.33px;
  color: var(--color-dimgray);
  width: 74.04px;
}
.nov191,
.rootCanal {
  top: 518px;
  left: 412px;
  font-size: var(--font-size-4xl);
  width: 146px;
}
.rootCanal {
  top: 545px;
  left: 607.96px;
  font-size: var(--font-size-xl);
  width: 86.74px;
}
.drgAdamH1 {
  top: 546px;
  left: 807.88px;
  font-size: var(--font-size-lg);
  width: 96.26px;
}
.dentist1,
.drgAdamH1,
.jessicamila1,
.note1,
.nurse1,
.treatment1 {
  position: absolute;
  line-height: 140%;
  display: inline-block;
}
.jessicamila1 {
  top: 546px;
  left: 922.12px;
  font-size: var(--font-size-lg);
  width: 80.39px;
}
.dentist1,
.note1,
.nurse1,
.treatment1 {
  top: 528px;
  left: 607.96px;
  color: var(--color-dimgray);
  width: 64.52px;
}
.dentist1,
.note1,
.nurse1 {
  left: 807.88px;
  width: 44.43px;
}
.note1,
.nurse1 {
  left: 922.12px;
  width: 37.02px;
}
.note1 {
  top: 542px;
  left: 1052.23px;
  color: var(--color-royalblue);
  width: 29.62px;
}
.macbookAir1Child11,
.macbookAir1Child12 {
  position: absolute;
  top: 531px;
  left: 557.75px;
  width: 1px;
  height: 34px;
  opacity: 0.5;
}
.macbookAir1Child12 {
  left: 766.13px;
}
.note3Icon {
  position: absolute;
  top: 542px;
  left: 1028.96px;
  width: 19.04px;
  height: 18px;
  overflow: hidden;
}
.macbookAir1Child13 {
  position: absolute;
  top: 384.5px;
  left: 364px;
  width: 766px;
  height: 1px;
  opacity: 0.2;
}
.filesDocuments {
  position: absolute;
  top: 367px;
  left: 109px;
  font-size: var(--font-size-xl);
  line-height: 140%;
}
.macbookAir1Child14,
.macbookAir1Child15 {
  position: absolute;
  top: 418px;
  left: 329px;
  background-color: var(--color-whitesmoke-100);
  width: 226px;
  height: 49px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.macbookAir1Child15 {
  top: 475px;
  left: 330px;
}
.checkUpResultspdf {
  position: absolute;
  top: 434px;
  left: 153px;
  line-height: 140%;
  font-family: var(--font-source-serif-4);
  color: var(--color-darkslategray-100);
}
.note4Icon {
  position: absolute;
  top: 434px;
  left: 121px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.checkUpResultspdf1 {
  position: absolute;
  top: 490px;
  left: 153px;
  line-height: 140%;
  font-family: var(--font-source-serif-4);
  color: var(--color-darkslategray-100);
}
.note5Icon {
  position: absolute;
  top: 490px;
  left: 121px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.macbookAir1Child16 {
  position: absolute;
  top: 530px;
  left: 329px;
  background-color: var(--color-whitesmoke-100);
  width: 226px;
  height: 49px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.medicalPrescriptionpdf {
  position: absolute;
  top: 546px;
  left: 153px;
  line-height: 140%;
  font-family: var(--font-source-serif-4);
  color: var(--color-darkslategray-100);
}
.note6Icon {
  position: absolute;
  top: 546px;
  left: 121px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.macbookAir1Child17 {
  position: absolute;
  top: 586px;
  left: 329px;
  background-color: var(--color-whitesmoke-100);
  width: 226px;
  height: 49px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.dentalXRayResultpdf {
  position: absolute;
  top: 602px;
  left: 153px;
  line-height: 140%;
  font-family: var(--font-source-serif-4);
  color: var(--color-darkslategray-100);
}
.note1Icon {
  position: absolute;
  top: 602px;
  left: 121px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.macbookAir1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 681px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-open-sans);
}
